@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	font-family: var(--font-open);
}

input:-webkit-autofill {
	transition-delay: 9999s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.animation-slide-fade {
	animation: slideFade 0.7s;
}

.animation-slide-fade:hover {
	opacity: 1;
	transform: translateY(0);
}

@keyframes slideFade {
	from {
		transform: translateY(-22px);
		opacity: 0.4;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.chatsContainer::-webkit-scrollbar {
	width: 8px;
}

.chatsContainer::-webkit-scrollbar-thumb {
	background-color: #2e2d8c;
	border-radius: 4px;
}

.chatsContainer::-webkit-scrollbar-track {
	background-color: #bababa;
}
